<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <resultMap id="ClienteMap" type="pojo.EntidadesPrincipales.Cliente">
        <id property="idCliente" column="idCliente"/>
        <result property="nombre" column="nombre"/>
        <result property="apellidoPaterno" column="apellidoPaterno"/>
        <result property="apellidoMaterno" column="apellidoMaterno"/>
        <result property="correo" column="correo"/>
        <result property="telefono" column="telefono"/>
        <result property="calle" column="calle"/>
        <result property="numero" column="numero"/>
        <result property="statusRegistro" column="statusRegistro"/>
        <result property="idColonia" column="idColonia"/>
        <result property="nombreColonia" column="nombreColonia"/>
        <result property="codigoPostal" column="codigoPostal"/>
        <result property="nombreMunicipio" column="nombreMunicipio"/>
        <result property="nombreEstado" column="nombreEstado"/>
    </resultMap>

    <select id="obtener-todos" resultMap="ClienteMap">
        SELECT
        C.idCliente,
        C.nombre,
        C.apellidoPaterno, 
        C.apellidoMaterno,
        C.correo,
        C.telefono,
        C.calle,
        C.numero,
        C.statusRegistro,
        C.idColonia,
             
        CL.nombre AS nombreColonia, 
        CL.codigo_postal AS codigoPostal, 
        M.nombre AS nombreMunicipio, 
        E.nombre AS nombreEstado
        FROM 
        PacketWorld.cliente AS C 
        LEFT JOIN
        mexico.colonias AS CL    
        ON C.idColonia = CL.id
        LEFT JOIN
        mexico.municipios AS M    
        ON CL.municipio = M.id
        LEFT JOIN
        mexico.estados AS E      
        ON M.estado = E.id
        
        WHERE 
        C.statusRegistro = TRUE
        ORDER BY 
            C.idCliente;
    </select>
    
    <insert id="registrar" parameterType="pojo.EntidadesPrincipales.Cliente"
            useGeneratedKeys="true" keyProperty="idCliente">
        
        INSERT INTO PacketWorld.cliente (
        nombre, apellidoPaterno, apellidoMaterno, 
        correo, telefono, numero, calle, 
        idColonia
        ) VALUES (
        #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, 
        #{correo}, #{telefono}, #{numero}, #{calle}, 
        #{idColonia}
        )
    </insert>
    
    <update id="editar" parameterType="pojo.EntidadesPrincipales.Cliente">
        UPDATE PacketWorld.cliente
        SET nombre = #{nombre}, 
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        correo = #{correo},
        telefono = #{telefono},
        calle = #{calle},
        numero = #{numero},
        idColonia = #{idColonia}
        WHERE idCliente = #{idCliente}
    </update>
    
    <select id="verificar-existencia" parameterType="pojo.EntidadesPrincipales.Cliente" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM PacketWorld.cliente
        WHERE 
        (correo = #{correo} OR telefono = #{telefono})
        AND statusRegistro = TRUE
    </select>

    <select id="verificar-edicion" parameterType="pojo.EntidadesPrincipales.Cliente" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM PacketWorld.cliente
        WHERE 
        (correo = #{correo} OR telefono = #{telefono})
        AND statusRegistro = TRUE
        AND idCliente != #{idCliente}
    </select>
    
    <update id="eliminar" parameterType="java.lang.Integer">
        UPDATE PacketWorld.cliente
        SET 
        statusRegistro = FALSE
        WHERE 
        idCliente = #{idCliente};
    </update>

    <select id="buscar-por-palabra-clave" parameterType="java.lang.String" resultMap="ClienteMap">
        SELECT 
        C.idCliente, C.nombre, C.apellidoPaterno, C.apellidoMaterno, C.correo, C.telefono, C.calle, C.numero, C.statusRegistro, C.idColonia,
        CL.nombre AS nombreColonia, CL.codigo_postal AS codigoPostal,
        M.nombre AS nombreMunicipio, E.nombre AS nombreEstado
        FROM PacketWorld.cliente AS C
        LEFT JOIN mexico.colonias AS CL ON C.idColonia = CL.id
        LEFT JOIN mexico.municipios AS M ON CL.municipio = M.id
        LEFT JOIN mexico.estados AS E ON M.estado = E.id
        
        WHERE C.statusRegistro = TRUE AND (
        C.nombre LIKE CONCAT('%', #{palabraClave}, '%')
        OR C.apellidoPaterno LIKE CONCAT('%', #{palabraClave}, '%')
        OR C.apellidoMaterno LIKE CONCAT('%', #{palabraClave}, '%')
        OR C.correo LIKE CONCAT('%', #{palabraClave}, '%')
        OR C.telefono LIKE CONCAT('%', #{palabraClave}, '%')
        OR CL.nombre LIKE CONCAT('%', #{palabraClave}, '%')
        )
        ORDER BY C.idCliente DESC
    </select>
    
</mapper>
