<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <select id="obtener-todos" resultType="pojo.EntidadesPrincipales.Cliente">
    SELECT
        C.idCliente,
        C.nombre,
        C.apellidoPaterno, 
        C.apellidoMaterno,
        C.correo,
        C.telefono,
        C.calle,
        C.numero,
        C.statusRegistro,
        
        CL.nombre AS nombreColonia,                     
        CL.codigo_postal AS codigoPostal,               
        M.nombre AS nombreMunicipio,                   
        E.nombre AS nombreEstado

    FROM 
        PacketWorld.cliente AS C 

    LEFT JOIN
        mexico.colonias AS CL    
        ON C.idColonia = CL.id

    LEFT JOIN
        mexico.municipios AS M    
        ON CL.municipio = M.id

    LEFT JOIN
        mexico.estados AS E     
        ON M.estado = E.id
    
    WHERE 
    C.statusRegistro = TRUE

    ORDER BY 
        C.idCliente;
    </select>
    
    <insert id="registrar" parameterType="pojo.EntidadesPrincipales.Cliente"
            useGeneratedKeys="true" keyProperty="idCliente">
        
        INSERT INTO PacketWorld.cliente (
            nombre, apellidoPaterno, apellidoMaterno, 
            correo, telefono, numero, calle, 
            idColonia
        ) VALUES (
            #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, 
            #{correo}, #{telefono}, #{numero}, #{calle}, 
            #{idColonia}
        )
    </insert>
    
    <update id="editar" parameterType="pojo.EntidadesPrincipales.Cliente">
    UPDATE PacketWorld.cliente
    SET nombre = #{nombre}, 
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        correo = #{correo},
        telefono = #{telefono},
        calle = #{calle},
        numero = #{numero},
        idColonia = #{idColonia}
    WHERE idCliente = #{idCliente}
    </update>

    <select id="verificar-edicion" parameterType="pojo.EntidadesPrincipales.Cliente" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM PacketWorld.cliente
        WHERE 
            (correo = #{correo} OR telefono = #{telefono})
            AND statusRegistro = TRUE
            AND idCliente != #{idCliente}
    </select>

</mapper>
