<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unidad">

    <select id="obtener-todas" resultType="pojo.EntidadesPrincipales.Unidad">
        SELECT 
            U.idUnidad, U.marca, U.modelo, U.anio, U.vin, U.noIdentificacion, 
            U.status, U.motivoBaja, U.fechaBaja,
            TU.idTipoUnidad, TU.tipoUnidad,
            C.idColaborador, C.nombre AS nombreConductor, C.apellidoPaterno AS apellidoPaternoConductor
        FROM PacketWorld.unidad AS U
        LEFT JOIN PacketWorld.tipoUnidad AS TU ON U.idTipoUnidad = TU.idTipoUnidad
        LEFT JOIN PacketWorld.colaborador AS C ON U.idConductor = C.idColaborador
        WHERE U.status = TRUE
        ORDER BY U.idUnidad;
    </select>
    
    <insert id="registrar" parameterType="pojo.EntidadesPrincipales.Unidad">
        INSERT INTO PacketWorld.unidad (
            marca, modelo, anio, vin, noIdentificacion, 
            idTipoUnidad
        ) VALUES (
            #{marca}, #{modelo}, #{anio}, #{vin}, #{noIdentificacion}, 
            #{idTipoUnidad}
        )
    </insert>
    
    <update id="editar" parameterType="pojo.EntidadesPrincipales.Unidad">
        UPDATE PacketWorld.unidad 
        SET 
            marca = #{marca}, 
            modelo = #{modelo}, 
            anio = #{anio}, 
            noIdentificacion = #{noIdentificacion},
            idTipoUnidad = #{idTipoUnidad}
        WHERE idUnidad = #{idUnidad}
    </update>
    
    <update id="dar-baja" parameterType="pojo.EntidadesPrincipales.Unidad">
        UPDATE PacketWorld.unidad 
        SET 
            status = FALSE, 
            motivoBaja = #{motivoBaja},
            fechaBaja = CURRENT_DATE()
        WHERE idUnidad = #{idUnidad}
    </update>

    
    <select id="buscar-unidades" parameterType="pojo.EntidadesPrincipales.Unidad" resultType="pojo.EntidadesPrincipales.Unidad">
        SELECT 
            U.idUnidad, U.marca, U.modelo, U.anio, U.vin, U.noIdentificacion, 
            U.status, U.motivoBaja, U.fechaBaja,
            TU.idTipoUnidad, TU.tipoUnidad,
            C.idColaborador, C.nombre AS nombreConductor, C.apellidoPaterno AS apellidoPaternoConductor
        FROM PacketWorld.unidad AS U
        LEFT JOIN PacketWorld.tipoUnidad AS TU ON U.idTipoUnidad = TU.idTipoUnidad
        LEFT JOIN PacketWorld.colaborador AS C ON U.idConductor = C.idColaborador
        <where>
            U.status = TRUE  <if test="vin != null and vin != ''">
                AND U.vin LIKE CONCAT('%', #{vin}, '%')
            </if>
            <if test="marca != null and marca != ''">
                AND U.marca LIKE CONCAT('%', #{marca}, '%')
            </if>
            <if test="noIdentificacion != null and noIdentificacion != ''">
                AND U.noIdentificacion LIKE CONCAT('%', #{noIdentificacion}, '%')
            </if>
        </where>
        ORDER BY U.idUnidad
    </select>
    
    <update id="asignar-conductor" parameterType="pojo.EntidadesPrincipales.Unidad">
        UPDATE PacketWorld.unidad
        SET 
            idConductor = #{idConductor, jdbcType=INTEGER}
            -- Usamos jdbcType=INTEGER para asegurar que MyBatis sepa manejar el NULL
        WHERE 
            idUnidad = #{idUnidad}
    </update>

    <select id="verificar-conductor-asignado" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM PacketWorld.unidad 
        WHERE idConductor = #{idConductor} AND idUnidad != #{idUnidad}
    </select>
    
    <select id="verificar-nii-edicion" parameterType="pojo.EntidadesPrincipales.Unidad" resultType="java.lang.Integer">
        SELECT COUNT(*) 
        FROM PacketWorld.unidad 
        WHERE noIdentificacion = #{noIdentificacion} AND idUnidad != #{idUnidad}
    </select>
    
    <select id="verificar-vin" parameterType="pojo.EntidadesPrincipales.Unidad" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM PacketWorld.unidad WHERE vin = #{vin}
    </select>
    
    <select id="verificar-nii" parameterType="pojo.EntidadesPrincipales.Unidad" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM PacketWorld.unidad WHERE noIdentificacion = #{noIdentificacion}
    </select>
    
</mapper>
